img{
    width: 30%;
    /* We have 10% left and we need to distribute it 6 times (3 for left and right so we have 10/6) for the margin  */
    margin: calc(10%/6); 
}

nav{
    text-transform: uppercase;
    border-bottom: 2px solid #f1f1f1;
    width: 30%;
    margin-left: calc(10%/6); 
    padding: 1.2em 0;
    /* padding is giving us space between the name and the underline */
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
}